* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(baywatch.jpg);
	background-position: top-center;
	background-size: cover;
}
.navbar h1 {
	color: #fff;
	margin: 15px 0;
	display: inline-block;
}

.logo {
	color: coral;
}

.navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: coral;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;

}

.navbar ul li:hover::after {
	width: 100%;
}

.margin-details {
	margin: 3% 0;
}

.left-box {
	color: #fff;
	margin: 15px 0;
	padding: 20px;
}

.casting img {
	height: 70px;
	width: 70px;
	border-radius: 3px;
	margin-right: 8px;
	cursor: pointer;
}

button {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.watch ,.download {
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span {
	width: 100%;
}

button:hover {
	border: none;
}
.row {
	display: flex;
	padding: 15px;
}
.movie-img {
	margin-left: 75px;
	margin-right: 22px;
	width: 600px;
}

.information {
	font-size: 24px;
}

.slidershow {
	position: relative;
	margin: 22px auto;
	width: 95%;
	height: 90vh;
	overflow: hidden;
	border-radius: 10px;
}

.navigation {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.bar {
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 5px;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;

}

.bar:hover{
	background: #fff;
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slides {
	width: 500%;
	height: 100%;
	display: flex;

}

.slide{
	width: 20%;
	transition: 0.6s;

}

.slide img {
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -20%;
}
#r3:checked ~ .s1 {
	margin-left: -40%;
}
#r4:checked ~ .s1 {
	margin-left: -60%;
}
#r5:checked ~ .s1 {
	margin-left: -80%;
}	

.card {
	width: 270px;
	height: 280px;
	box-sizing: border-box;
	display: inline-block;
	border: 3px solid coral;
	border-radius: 15px;
	cursor: pointer;
	margin: 17px 38px;
	padding: 5px 25px;
	background-image: url(chuqur.jpg);
	background-position: center;
	background-size: cover;
	transition: transform 0.5s;

}

.card1 {
	background-image: url(films/spasatelimalibu.jpg);
}
.card2 {
	background-image: url(films/boys.jpg);
}
.card3 {
	background-image: url(films/klark.jpg);
	background-position: 90% 50%;
}
.card4 {
	background-image: url(films/grownups.jpg);
}
.card5 {
	background-image: url(films/skala.jpg);
	background-position: 50% 35%;
}
.card6 {
	background-image: url(films/kissing.jpg);
}
.card7 {
	background-image: url(films/svidanie.jpg);
	background-position: center top;
}
.card8 {
	background-image: url(films/mentalist1.jpg);
}
.card9 {
	background-image: url(films/fast.jpg);
	background-position: 50% 86%;
}
.card10 {
	background-image: url(films/taxi5.jpg);
}
.card11 {
	background-image: url(films/mehanik.jpg);
	background-position: 50% 70%;
}
.card12 {
	background-image: url(films/home.jpg);
	background-position: 50% 22%;
}

.card:hover {
	transform: translateY(-15px);
}